In [2]:
import pickle
with open('user_df.pkl', 'rb') as fh:
    user_df = pickle.loads(fh.read())

In [12]:
tmp = [] 
for x in user_df.attributes.values:
    tmp.extend(x)

In [15]:
import numpy as np
val_cnt = np.unique(tmp, return_counts=True)

In [29]:
val_cnt[0][13]

'01GZ297T7TRE8RQJ5YW4TC59QY'

In [26]:
np.argsort(val_cnt[1])

array([30, 31, 17, 20, 21, 23, 24, 28, 25, 22,  1,  0, 15, 19,  9, 32,  3,
       18,  8, 10,  6, 29,  4,  7, 12, 26, 16, 11,  2, 13, 14,  5, 27],
      dtype=int64)

In [25]:
val_cnt[1][np.argsort(val_cnt[1])]

array([     1,     55,    765,   1263,   1507,   1651,   1821,   2215,
         2258,   2453,   3691,   4198,   4380,   4915,   6146,   8558,
         8676,  10696,  11733,  12836,  17582,  23081,  29121,  33145,
        56542,  61401,  63772,  80113,  83044,  88282,  95843, 504854,
       615604], dtype=int64)

In [3]:
basic_roles = ["01GGDQNB960W2QSA711WRD1HMJ"]

gm_roles = [ '01GGDQEP9CM2CRKNMDM6267G53']

def filter_roles(roles, _list):

    for x in roles:
        if x in _list:
            return False
    return True

def include_roles(roles, _list):

    for x in _list:
        if x not in roles:
            return False
    return True




# tmp = user_df[~user_df.roles.apply(lambda x: filter_roles(x, basic_roles))].sort_values(by=['joined_at'], ascending=True)
# tmp.shape

tmp = user_df[user_df.roles.apply(lambda x: include_roles(x, gm_roles))].sort_values(by=['joined_at'], ascending=True)
tmp


# (2, 7)
tmp

,user_id,coin_balance,score,username,joined_at,attributes,roles
481547,01GGDGFNGWF9YKTARD4M4G5DJY,824,100.0,Logicpoints,2022-10-27 20:19:05.084,"[learn_v2, 01GZ2E4H81CMY023E8B179RGS5, 01GZ297...","[01GNS78F5R37VW1XNG7D1GGRVT, 01GGDQEP9CM2CRKNM..."
676493,01GHGKMP5PD7ZXN27JV5MJF7S8,580,NaN,Ace,2022-11-10 11:17:46.040,"[01GZ297T7TRE8RQJ5YW4TC59QY, 01J1B00H8P5JYCSBD...",[01GGDQEP9CM2CRKNMDM6267G53]

In [32]:


tmp = user_df[user_df.attributes.apply(lambda x: include_roles(x, ["01GX6Z7JE5MENT2R0X8M7BKQS7"]))].sort_values(by=['joined_at'], ascending=True)

tmp

# user_df[user_df.user_id=="01GGDP69Y3DFQ1DJ9JDM184P10"]

,user_id,coin_balance,score,username,joined_at,attributes,roles,dt_join
580237,01GHVH1S0Y5359RWDM0SSKJXGX,11,NaN,Lewzis,2022-11-14 16:55:48.305,"[learn_v2, 01GX6Z7JE5MENT2R0X8M7BKQS7]","[01GGDQNB960W2QSA711WRD1HMJ, 01GGDQD1T8HX1CRT5...",2022-11-14
710169,01GHVGY0S0ZZE8ZFTKWK32RNS7,0,NaN,DanKing | Freelancing Captain,2022-11-14 17:22:22.446,[01GX6Z7JE5MENT2R0X8M7BKQS7],"[01GGDQNB960W2QSA711WRD1HMJ, 01GGDQD1T8HX1CRT5...",2022-11-14
727810,01GHVVXMRQEH46FVAHH34EVFXF,0,NaN,RomanoAlexandru,2022-11-14 20:09:44.199,"[01GX6Z7JE5MENT2R0X8M7BKQS7, learn_v2]","[01GGDQNB960W2QSA711WRD1HMJ\n, 01GGDQNB960W2QS...",2022-11-14
662154,01GHVW18H6ZGZKR8EAXADPVMXZ,0,NaN,Hutzu,2022-11-14 20:13:30.703,"[01GX6Z7JE5MENT2R0X8M7BKQS7, learn_v2]","[01GGDQNB960W2QSA711WRD1HMJ\n, 01GGDQNB960W2QS...",2022-11-14
548433,01GHVVYR38SSPJJMZ0R31F2534,150,NaN,pablobr1ceno,2022-11-14 20:17:10.459,"[learn_v2, 01GX6Z7JE5MENT2R0X8M7BKQS7]","[01GGDQNB960W2QSA711WRD1HMJ\n, 01GGDQNB960W2QS...",2022-11-14
...,...,...,...,...,...,...,...,...
525330,01JC619BV5WQC38HT44Q32Q98C,0,NaN,Ghost Banks,2024-11-08 14:02:47.132,"[learn_v2, 01GX6Z7JE5MENT2R0X8M7BKQS7]",[01GGDQNB960W2QSA711WRD1HMJ],2024-11-08
701526,01JC619BV5WQC38HT44Q32Q98C,0,NaN,Ghost Banks,2024-11-08 14:02:47.132,"[learn_v2, 01GX6Z7JE5MENT2R0X8M7BKQS7]",[01GGDQNB960W2QSA711WRD1HMJ],2024-11-08
104788,01JC81JGV8FJXV0RGQ0990B8BM,0,NaN,Dram1324,2024-11-09 08:45:37.960,"[learn_v2, 01GX6Z7JE5MENT2R0X8M7BKQS7]",[01GGDQNB960W2QSA711WRD1HMJ],2024-11-09
141068,01JCD77M1DWJCX1Y7AXN0C87S1,0,NaN,Odeewan kenobi,2024-11-11 09:16:17.830,"[learn_v2, 01GX6Z7JE5MENT2R0X8M7BKQS7]",[01GGDQNB960W2QSA711WRD1HMJ],2024-11-11
439387,01JCVNCJ0Z5DQDD20GM7YTHJKZ,0,NaN,Ryan Mark,2024-11-16 23:38:03.851,"[learn_v2, 01GX6Z7JE5MENT2R0X8M7BKQS7]","[01GGDQNB960W2QSA711WRD1HMJ, 01GNS78F5R37VW1XN...",2024-11-16

In [5]:

for indx in tmp.index[:20]:
    item = tmp.loc[indx]
    print('User:', item['username'])
    print("Joined At:", item['joined_at'])
    # print('Coins:', item['coin_balance'], 'Score:', item['score'])
    print('Roles:', item['roles'])
    print('Attributes:', item['attributes'])
    print()

User: Logicpoints
Joined At: 2022-10-27 20:19:05.084000
Roles: ['01GNS78F5R37VW1XNG7D1GGRVT', '01GGDQEP9CM2CRKNMDM6267G53']
Attributes: ['learn_v2', '01GZ2E4H81CMY023E8B179RGS5', '01GZ297T7TRE8RQJ5YW4TC59QX', '01J1B00H8P5JYCSBDAVJKKSMM7', 'diamond_king']

User: Ace
Joined At: 2022-11-10 11:17:46.040000
Roles: ['01GGDQEP9CM2CRKNMDM6267G53']
Attributes: ['01GZ297T7TRE8RQJ5YW4TC59QY', '01J1B00H8P5JYCSBDAVJKKSMM7', '01GZ2E4H81CMY023E8B179RGS5', '01GZ297T7TRE8RQJ5YW4TC59QX', 'learn_v2', 'pmgrad', 'diamond_king', '01H8CEGDCNBN10X6WYDVBXKVQZ', 'Hero (01HJP7ATA2EAS9DXM63PCKNY6V)', 'power_streak']

In [6]:
user_df['dt_join'] = user_df['joined_at'].dt.date

In [7]:
user_join_dt_gb = user_df.drop_duplicates(subset=['username']).groupby(["dt_join"]).agg({'username': 'count'}).reset_index()

In [9]:
import plotly
import numpy as np

fig =  plotly.graph_objects.Figure()

fig.add_trace(
    plotly.graph_objects.Bar(
        x=user_join_dt_gb['dt_join'],
        y=user_join_dt_gb['username'],
        name='Joiners',
    )
)


# Customize the layout
fig.update_layout(
    title='The Real World Formerly Known as Hustler\'s University<br>  New Subcriber Counts',
    xaxis_title='Date',
    yaxis_title='Joiner Count',
    template='plotly_white'
)

# Show the figure
fig.write_image("new_subcriber_counts.png")

In [30]:
user_df.shape

(794100, 8)